<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Performing Specific URL Navigation</h1>
        <h1>This is Page1 of aap2</h1>
        <a href="{% url 'nothing:two2' %}">enter to page2 of app2</a><br>
        <a href="{% url 'something:one1' %}">enter to page1 of app1</a><br>
        <a href="{% url 'something:one2' %}">enter to page2 of app1</a><br>
    </center>
</body>
</html>